.istekGorseli{
    margin-top: -40px;
}
.istekGorseli img{
    width: 300px;
}
.siparisBilgileri #kisaDetay{
    font-size: 12px;
    color: rgb(8, 8, 8);
}
.istekListesi{
    position: relative;
    z-index: 1;
    margin-top: 130px;
    width: 90%;
    height: 210px;
    background-color: #f9f8f8;
    margin-left: 30px;
    box-shadow: rgb(100 100 111 / 20%) 13px 12px 29px 3px;
    border-radius: 17px;
}
.sepetikonu i{
    font-size: 45px;
    margin-top: 60px;
}
.istekList{
    padding-top: 0;
    font-size: 13px;
}
.istekList a{
    color: #000 !important;
}
.istekBilgileri{
    margin-left: -33px;
}
.baslikAyarla{
    margin-bottom: 70px;
}
.istekDetaylari{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}
.baslikAyarla{
    position: absolute;
    top: 15px;
}
.listeAyarla{
    margin-top: 45px;
}
.kaydetikon{
    position: absolute;
    top: 10px;
    right: 20px;
}
.kaydetikon i{
    font-size: 30px;
    color: #eb5f0c;
}
.asagiKaydirikon{
    position: absolute;
    bottom: 0;
    text-align: center;
}
.hepsiButon{
    position: absolute;
    bottom: 10px;
    right: 30px;
    height: 40px;
    background-color: #eb5e0b;
    color: #fff;
    border: navajowhite;
    border-radius: 8px;
    font-weight: bold;
}